---
name: cangjie-guides/cj-huks-signing-verification
title: 签名/验签
uri: https://developer.huawei.com/consumer/cn/doc/cangjie-guides/cj-huks-signing-verification
nodePath: 系统 / 安全 / Universal Keystore Kit（密钥管理服务） / 密钥使用 / 签名/验签
---

# 签名/验签

  * **[签名/验签介绍及算法规格](https://developer.huawei.com/consumer/cn/doc/cangjie-guides/cj-huks-signing-signature-verification-overview)**  

  * **[开发指导](https://developer.huawei.com/consumer/cn/doc/cangjie-guides/cj-huks-signing-development)**  



